


<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Wybierz moduł</h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="">
                <div class="panel panel-default col-lg-4 col-lg-offset-1">
                    <div class="panel-body">
                        <span class="label label-success ">Wyświetl kalendarz</span>
                        <a href="@Url.Action("Index", "Calendar")">
                            <img style="width:300px; height:300px;" class="img_button" src="~/Content/Images/pracownicy.jpg" />
                        </a>
                    </div>
                </div>
                <div class="panel panel-default col-lg-4">
                    <div class="panel-body">
                        <span class="label label-success  ">Wyświetl listę wynagrodzeń i bonusów</span>
                        <a href="@Url.Action("DisplayBenefits")">
                            <img style="width:300px; height:300px;" class="img_button" src="~/Content/Images/pracownicy.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-2 col-lg-10">
            <div class="">
                <div class="panel panel-default col-lg-4 col-lg-offset-1">
                    <div class="panel-body">
                        <span class="label label-success ">Wyświetl zestawienie godzinowe - NARAAZIE BEZ TEGOS</span>
                        <a href="@Url.Action()">
                            <img style="width:300px; height:300px;" class="img_button" src="~/Content/Images/pracownicy.jpg" />
                        </a>
                    </div>
                </div>
                <div class="panel panel-default col-lg-4">
                    <div class="panel-body">
                        <span class="label label-success  ">Wyświetl wykresy</span>
                        <a href="@Url.Action("DisplayCharts")">
                            <img style="width:300px; height:300px;" class="img_button" src="~/Content/Images/pracownicy.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>