<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <!--<add name="HR_Database" connectionString="AttachDbFileName=~\App_Data\HR_Database.mdf" providerName="System.Data.SqlClient"/>-->
    <add name="HR_Database" connectionString="Server=WIN-0EN78KE2T7T;Database=HRDatabase;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>