<div class="col-lg-offset-1 panel panel-danger col-lg-10">
    <div class="panel-heading">
        <h3 class="panel-title">Informacje o autorze</h3>
    </div>
    <div class="panel-body">
        Program ten jest realizacją pracy magisterskiej o temacie: "Mapowanie obiektowo-relacyjne dla środowiska .NET na przykładzie systemu do wspomagania działu kadr".
        Aplikacja ta została zrealizowana 2014 roku. Nie ukrywam, że praca została zrealizowana w pośpiechu, przez co jej jakość odbiega od ogólnie przyjętych standardów.
    </div>
</div>
